<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VendGo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">VendGo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="find_bid">Available Bids</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li> -->
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          <form>
          <button class="btn btn-outline-primary m-2" type="submit" formaction="/retail/request">
            Add a Request
          </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Your Bids Table Table -->
    <div class="container">
      <table class="table table-striped my-3">
        <table class="table table-hover">
          <h2>Your Bids</h2>
          {% if not my_bids %}
            <center><h2>No Bids</h2></center>
          {% else %}
            <thead>
              <tr>
                <th>Material</th>
                <th>Vendor</th>
                <th>Quota</th>
                <th>Price Per Unit</th>
              </tr>
            </thead>
            <tbody>
                {% for bid in my_bids %}
                  <tr>
                  {% for data in bid %}
                    <td>{{data}}</td>
                  {% endfor %}
                  </tr>
                {% endfor %}
            </tbody>
          {% endif %}
        </table>
      </table>
      <br>
    </div>  
    
    <!-- Involved Bids Table Table -->
    <div class="container">
      <table class="table table-striped my-3">
        <table class="table table-hover">
          <h2>Involved Bids</h2>
          {% if not in_bids %}
            <center><h2>No Bids</h2></center>
          {% else %}
            <thead>
              <tr>
                <th>Material</th>
                <th>Vendor</th>
                <th>Quota</th>
                <th>Price Per Unit</th>
              </tr>
            </thead>
            <tbody>
                {% for bid in in_bids %}
                  <tr>
                  {% for data in bid %}
                    <td>{{data}}</td>
                  {% endfor %}
                  </tr>
                {% endfor %}
            </tbody>
          {% endif %}
        </table>
      </table>
    </div>

  </body>
</html>
